<div id="ace-container">
  <section class="hero is-light">
    <div class="hero-body">
      <div class="title-container">
        <figure class="image is-128x128">
          <img src="../../assets/images/favicon-256.png" alt="Enterprise Validator logo" />
        </figure>
        <div class="title-wrapper">
          <p class="title">Enterprise Validator</p>
          <p class="subtitle">
            Now you can validate JSON and YAML easily!!<br/>
            A YAML validator better than the <a href="http://www.yamllint.com">YAML Lint</a>.<br/>
            A JSON validator and formatter that follows the JSON spec at <a href="http://json.org/">JSON.org</a>.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <form class="form-inline" data-toggle="validator" role="form">

        <button type="button" id="validateYamlData" class="btn btn-success" (click)="process('yaml')">Validate YAML</button>
        <button type="button" id="validateJsonData" class="btn btn-success" (click)="process('json')">Validate JSON</button>
        <button type="button" id="formatJsonData" class="btn btn-warning" (click)="process('formatJson')">Format JSON</button>
        <button type="button" id="formatXmlData" class="btn btn-warning" (click)="process('formatXml')">Format XML</button>
        <button type="button" id="encodeData" class="btn btn-primary" (click)="process('base64Encode')">BASE64 Encode</button>
        <button type="button" id="decodeData" class="btn btn-primary" (click)="process('base64Decode')">BASE64 Decode</button>
        <button type="button" id="shareByEmail" class="btn btn-info" (click)="shareByEmail()">Share Data</button>

        <ace-editor #editor style="height:65vh;"></ace-editor>

        <div id="validationResultBlock-container" #validationResultBlock>
          <div id="validationResultBlock"
            [class.validation-message-success]="isValidationSuccess"
            [class.validation-message-failure]="!isValidationSuccess">
            {{ message }}
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
<footer class="footer">
  <div class="content has-text-centered">
      <p>
          Made with <span style="color: #e25555;">&#9829;</span> in India by
          <a href="https://about.me/anandvarkeyphilips">Anand Varkey Philips</a>. The source code is
          <a href="https://raw.githubusercontent.com/anandvarkeyphilips/enterprise-validator/master/LICENSE">MIT</a>
          licensed and is available in <a href="https://github.com/anandvarkeyphilips/enterprise-validator">
              <img src=".../../../assets/images/GitHub-Mark-32px.png"  alt="GitHub logo"
                  style="text-align: center; width: 1.2em; height: 1.2em;" /></a>.
      </p>
  </div>
</footer>
