.title-container {
  display: flex;
  padding: 1vh 0;
}
.title-wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
}
#validation-result-block-container {
  width: 100%;
}
#validation-result-block {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.validation-message-failure {
  color: white;
  height: 3vh;
  background-color: #d60e0e;
}
.validation-message-error {
  color: black;
  height: 3vh;
  background-color: #d2ab0e;
}
.validation-message-success {
  color: white;
  height: 3vh;
  background-color: green;
}
#ace-container {
  margin: 0px 0px 0px 0px;
  .hero-body {
    padding: 1.2vh 0;
  }
  button {
    border-color: white;
    border-radius: 0;
  }
  .btn-info {
    color: #e9ecef;
    background-color: #6c757d;
  }
  .btn-primary {
    color: #e9ecef;
    background-color: #00bcd4;
  }
  .btn-success {
    background-color: #8bc34a;
  }
  .btn-warning {
    background-color: #ffda3b;
  }
  #editor {
    height: 62vh;
  }
  section {
    padding: 0px 0px 0px 0px;
  }
}
footer {
  text-align: center;
  padding-bottom: 1vh;
  padding-top: 3vh;
}
footer .span-love{
  color: #e25555;
}
footer .github-logo{
  width: 1.2em; height: 1.2em;
}
